In [2]:
import numpy as np
import pandas as pd

In [3]:
from sklearn. impute import SimpleImputer

In [4]:
df=pd.read_csv('project 1.csv')

In [5]:
df

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

#### 1.Find the unique value

In [5]:
n=df['Country/Region'].nunique()

In [6]:
n

187

#### 2. Find the null value (or) missing value

In [7]:
missing_values=['NA',' ',None,np.inf,np.NaN]
missing=df.isin(missing_values)
missing.sum()

Country/Region            0
Confirmed                 0
Deaths                    0
Recovered                 0
Active                    0
New cases                 0
New deaths                0
New recovered             0
Deaths / 100 Cases        0
Recovered / 100 Cases     0
Deaths / 100 Recovered    5
Confirmed last week       0
1 week change             0
1 week % increase         0
WHO Region                0
dtype: int64

In [8]:
df['Deaths / 100 Recovered'].shape

(187,)

In [9]:
df.replace([np.inf],np.nan,inplace=True)
o=np.reshape(df['Deaths / 100 Recovered'].values,(187,1))
imputer=SimpleImputer(missing_values=np.nan,strategy='mean')
imputer.fit(o)
o=imputer.transform(o)
df['Deaths / 100 Recovered']=o

In [10]:
df['Deaths / 100 Recovered'].values

array([5.04000000e+00, 5.25000000e+00, 6.17000000e+00, 6.48000000e+00,
       1.69400000e+01, 4.62000000e+00, 4.21000000e+00, 2.67000000e+00,
       1.79000000e+00, 3.91000000e+00, 1.82000000e+00, 1.20900000e+01,
       3.90000000e-01, 2.36000000e+00, 7.45000000e+00, 8.90000000e-01,
       5.62800000e+01, 7.69000000e+00, 3.38000000e+00, 0.00000000e+00,
       1.23200000e+01, 5.96000000e+00, 3.17000000e+00, 4.74000000e+00,
       2.17000000e+00, 6.21000000e+00, 5.72000000e+00, 2.05000000e+00,
       3.30000000e-01, 1.42000000e+00, 0.00000000e+00, 2.69000000e+00,
       4.05582967e+01, 3.82000000e+00, 9.26000000e+00, 2.87000000e+00,
       5.90000000e+00, 6.69000000e+00, 2.13000000e+00, 6.51000000e+00,
       3.65000000e+00, 3.01000000e+00, 9.30000000e-01, 3.53000000e+00,
       3.70000000e+00, 2.23000000e+00, 3.26000000e+00, 4.86000000e+00,
       1.17000000e+00, 0.00000000e+00, 3.59000000e+00, 1.58500000e+01,
       1.33500000e+01, 5.25000000e+00, 6.06000000e+00, 0.00000000e+00,
       3.59000000e+00, 3.32000000e+00, 3.57000000e+00, 0.00000000e+00,
       4.75000000e+00, 3.72000000e+01, 1.05000000e+00, 1.21200000e+01,
       1.74000000e+00, 4.79000000e+00, 5.60000000e-01, 1.47000000e+01,
       0.00000000e+00, 0.00000000e+00, 5.43000000e+00, 7.20000000e-01,
       3.24000000e+00, 1.10500000e+01, 3.62000000e+00, 0.00000000e+00,
       2.31400000e+01, 1.79000000e+01, 5.50000000e-01, 3.51000000e+00,
       8.32000000e+00, 6.24000000e+00, 5.78000000e+00, 7.55000000e+00,
       1.75000000e+00, 1.76800000e+01, 1.40000000e+00, 4.54000000e+00,
       1.06000000e+00, 1.08000000e+00, 3.64000000e+00, 4.59000000e+00,
       8.00000000e-01, 6.14000000e+00, 0.00000000e+00, 2.97000000e+00,
       2.98000000e+00, 9.38000000e+00, 1.11500000e+01, 1.10900000e+01,
       1.23000000e+00, 4.94000000e+00, 2.32000000e+00, 1.45000000e+00,
       6.02000000e+00, 1.44000000e+00, 5.90000000e-01, 6.48000000e+00,
       1.35000000e+00, 3.35000000e+00, 3.01000000e+00, 1.44900000e+01,
       4.63000000e+00, 3.85000000e+00, 0.00000000e+00, 5.56000000e+00,
       1.91000000e+00, 4.05582967e+01, 7.92000000e+00, 3.50000000e-01,
       3.25926000e+03, 1.45000000e+00, 4.33000000e+00, 6.72000000e+00,
       4.72000000e+00, 8.38000000e+00, 2.91000000e+00, 6.90000000e-01,
       2.42000000e+00, 3.77000000e+00, 0.00000000e+00, 1.48000000e+00,
       6.76000000e+00, 7.35000000e+00, 5.10000000e+00, 4.86000000e+00,
       1.60000000e-01, 8.55000000e+00, 2.21000000e+00, 5.10000000e-01,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 6.39000000e+00,
       1.91000000e+00, 1.24000000e+00, 3.00000000e+00, 4.05582967e+01,
       0.00000000e+00, 5.01000000e+00, 6.00000000e-02, 1.73000000e+00,
       6.69000000e+00, 6.03000000e+00, 2.57000000e+00, 2.31000000e+00,
       3.91000000e+00, 1.89100000e+01, 5.20000000e-01, 1.21200000e+01,
       2.59000000e+00, 4.05582967e+01, 6.40000000e+00, 4.05582967e+01,
       1.59000000e+00, 1.00000000e+00, 1.14800000e+01, 1.86000000e+00,
       0.00000000e+00, 2.97000000e+00, 6.25000000e+00, 4.32000000e+00,
       2.67000000e+00, 1.11600000e+01, 2.00000000e-01, 4.40000000e+00,
       6.60000000e-01, 3.19026000e+03, 3.68000000e+00, 1.04000000e+00,
       1.47000000e+00, 0.00000000e+00, 2.08000000e+00, 1.25000000e+01,
       5.79800000e+01, 4.97000000e+00, 6.64000000e+00])

#### 3. Maximum number of confirmed cases

In [11]:
a=max(df['Country/Region']),max(df['Confirmed'])

In [12]:
a

('Zimbabwe', 4290259)

#### 4. Maximum number of Deaths cases

In [13]:
a=max(df['Country/Region']),max(df['Deaths'])

In [14]:
a

('Zimbabwe', 148011)

#### 5. Average Number of case all countrie

In [15]:
ary=0
for i in df['Confirmed']:
    ary+=i
print(ary/len(df))

88130.935828877

#### 6. Total number of deaths

In [16]:
tot=0
for i in df['Deaths']:
    tot+=i
print(tot)

654036

#### 7.Total number of comfirmed case

In [17]:
tot=0
for i in df['Confirmed']:
    tot+=i
print(tot)

16480485

#### 8.The highest death percentage

In [18]:
max(df['Deaths / 100 Cases']),max(df['Country/Region'])

(28.56, 'Zimbabwe')

#### 9.The highest Recovered percentage

In [19]:
max(df['Recovered / 100 Cases']),max(df['Country/Region'])

(100.0, 'Zimbabwe')

####  10.Active Cases Ratio

In [20]:
a=df['Active']/df['New cases']
d=pd.DataFrame(a,columns=['Active Cases Ratio'])
d

     Active Cases Ratio
0             92.415094
1             17.017094
2             12.943182
3              5.200000
4             37.055556
..                  ...
182           44.677632
183                 inf
184           37.500000
185           22.492958
186           11.072917

[187 rows x 1 columns]

In [21]:
df['Active Cases Ratio']=d

In [22]:
df.replace([np.inf],np.nan,inplace=True)
o=np.reshape(df['Active Cases Ratio'].values,(187,1))
imputer=SimpleImputer(missing_values=np.nan,strategy='most_frequent')
imputer.fit(o)
o=imputer.transform(o)
df['Active Cases Ratio']=o

In [23]:
df.head(10)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region,Active Cases Ratio
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean,92.415094
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe,17.017094
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa,12.943182
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe,5.200000
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa,37.055556
5,Antigua and Barbuda,86,3,65,18,4,0,5,3.49,75.58,4.62,76,10,13.16,Americas,4.500000
6,Argentina,167416,3059,72575,91782,4890,120,2057,1.83,43.35,4.21,130774,36642,28.02,Americas,18.769325
7,Armenia,37390,711,26665,10014,73,6,187,1.90,71.32,2.67,34981,2409,6.89,Europe,137.178082
8,Australia,15303,167,9311,5825,368,6,137,1.09,60.84,1.79,12428,2875,23.13,Western Pacific,15.828804
9,Austria,20558,713,18246,1599,86,1,37,3.47,88.75,3.91,19743,815,4.13,Europe,18.593023

####  11 .New DataFrame

In [7]:
WHO_Region = df[df["WHO Region"] == "Africa"]
print(WHO_Region.sample(15))

               Country/Region  Confirmed  Deaths  Recovered  Active  \
156               South Sudan       2305      46       1175    1084
148                Seychelles        114       0         39      75
39        Congo (Brazzaville)       3200      54        829    2317
174                    Uganda       1128       2        986     140
109                Mauritania       6208     156       4653    1399
4                      Angola        950      41        242     667
55                    Eritrea        265       0        191      74
42              Cote d'Ivoire      15655      96      10361    5198
33   Central African Republic       4599      59       1546    2994
169                      Togo        874      18        607     249
118                   Namibia       1843       8        101    1734
28                    Burundi        378       1        301      76
2                     Algeria      27973    1163      18837    7973
154              South Africa     452529    7067     274925  170537
54          Equatorial Guinea       3071      51        842    2178

     New cases  New deaths  New recovered  Deaths / 100 Cases  \
156         43           1              0                2.00
148          0           0              0                0.00
39         162           3             73                1.69
174         13           0              4                0.18
109         37           0            223                2.51
4           18           1              0                4.32
55           2           0              2                0.00
42          59           0            183                0.61
33           0           0              0                1.28
169          6           0              8                2.06
118         68           0             26                0.43
28          17           0             22                0.26
2          616           8            749                4.16
154       7096         298           9848                1.56
54           0           0              0                1.66

     Recovered / 100 Cases  Deaths / 100 Recovered  Confirmed last week  \
156                  50.98                    3.91                 2211
148                  34.21                    0.00                  108
39                   25.91                    6.51                 2851
174                  87.41                    0.20                 1069
109                  74.95                    3.35                 5923
4                    25.47                   16.94                  749
55                   72.08                    0.00                  251
42                   66.18                    0.93                14312
33                   33.62                    3.82                 4548
169                  69.45                    2.97                  783
118                   5.48                    7.92                 1344
28                   79.63                    0.33                  322
2                    67.34                    6.17                23691
154                  60.75                    2.57               373628
54                   27.42                    6.06                 3071

     1 week change  1 week % increase WHO Region
156             94               4.25     Africa
148              6               5.56     Africa
39             349              12.24     Africa
174             59               5.52     Africa
109            285               4.81     Africa
4              201              26.84     Africa
55              14               5.58     Africa
42            1343               9.38     Africa
33              51               1.12     Africa
169             91              11.62     Africa
118            499              37.13     Africa
28              56              17.39     Africa
2             4282              18.07     Africa
154          78901              21.12     Africa
54               0               0.00     Africa